<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>
<configuration>
  <appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
    <tagEncoder>
      <pattern>%logger{12}</pattern>
    </tagEncoder>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
<!--
  <Logger name="org.jp.illg.nora.vr" level="DEBUG" />
  <Logger name="org.jp.illg.noravrclient" level="DEBUG" />
  <Logger name="org.jp.illg.noravrclient.NoraVRClientService" level="DEBUG" />
-->
  <!--
  <Logger name="org.jp.illg.util.android.pttutil" level="TRACE" />
  -->
  <logger name="org.jp.illg.dstar.util.DataSegmentDecoder" level="TRACE" />
  <logger name="org.jp.illg.dstar.util.NewDataSegmentEncoder" level="TRACE" />

  <root level="INFO">
    <appender-ref ref="logcat" />
  </root>
</configuration>
