[Unit]
Description=NoraGateway Service
After=network.target nss-lookup.target

[Service]
Type=simple
ExecStart=/opt/NoraGateway/NoraGateway.bootstrap.sh -service
Restart=on-failure
RestartSec=60s
User=nora
Group=nora

[Install]
WantedBy=multi-user.target
